<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.animations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".coordinator.ParallaxActivity"
            android:label="@string/title_activity_parallax"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".coordinator.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coordinator.CustomRotateBehaviorActivity"
            android:label="@string/title_activity_custom_roate_behavior"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coordinator.CustomBehaviorActivity"
            android:label="@string/custom_behavior_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coordinator.FabActivity"
            android:label="@string/title_activity_fab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".coordinator.CoordinatorLayoutActivity" />
        <activity android:name=".animations.TransitionNameActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animations.WithWithoutAnimationActivity" />
        <activity android:name=".animations.SlideActivity" />
        <activity
            android:name=".animations.ExplodeActivity"
            android:theme="@style/AppTheme.Animations.Explode" />
        <activity
            android:name=".animations.ChangeImageTransformActivity"
            android:theme="@style/AppTheme.Animations.ChangeImageTransform" />
        <activity android:name=".animations.PathCurvedMotionActivity" />
        <activity
            android:name=".animations.ActivitySceneTransitionActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>